{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="{% static 'shop/img/apple-icon.png' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'shop/img/favicon.ico' %}">

<link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/custom.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/fontawesome.all.css' %}">
<link rel="stylesheet" href="{% static 'shop/css/templatemo.css' %}">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
<link rel="stylesheet" href="{% static 'shop/css/leaflet.css' %}" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />